{% extends 'base.html' %}
{% block title %} Blog List {% endblock %}


{% block content %}

<h1>Blogs List  |  Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}. </h1>

{% for blog in blogs %}
    <h3><a href="{% url 'blog_view' blog.id %}">{{blog.title}}</a></h3>
    <p>by <strong>{{blog.created_by.username}}</strong> at {{blog.created_at}}</p>
    <div style="margin-bottom:50px;">
        {{ blog.text |escape|truncatewords:30}}
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if blogs.has_previous %}
            <a href="?page={{ blogs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
        </span>

        {% if blogs.has_next %}
            <a href="?page={{ blogs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
